:root {
	--primary_bg: #032541;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.add_btn {
	background: transparent;
	color: white;
	outline: none;
	border: none;
}

.add_btn:focus {
	outline: none;
	border: none;
}

.primary_bg {
	background-color: var(--primary_bg);
}

.card {
	border: none;
	box-shadow: 0px 0px 8px 4px #948e8e61;
}
